body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e2e8f0;
  scroll-behavior: smooth;
}

/* REMOVE EXTRA SPACE ISSUE */
section {
  padding: 70px 10%;
}

/* NAVBAR FIX SPACE */
body {
  padding-top: 80px;
}
button {
  background: transparent;
  border: none;
  color: #cbd5f5;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}

button:hover {
  color: #a855f7;
}

/* CARD UI */
.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 0 25px rgba(168,85,247,0.4);
}

/* BUTTON */
